td {
    text-align: left;
    font-style: normal;
    font-family: sans-serif;
  }
th {
    text-align: left;
    font-style: normal;
    font-family: sans-serif;
  }

  .btn-group{
      justify-content: center;
  }
  .btn-default {
    background:#1bb3bb !important;
    color:white;
    border-radius: 15px;  
    font-style: normal;
    font-family: sans-serif;           
  }
  .btn-outline-secondary {
    border-radius: 15px;  
    font-style: normal;
    font-family: sans-serif;      
}
  h4{
    font-style: normal;
    font-family: sans-serif;  
  }
  
  .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    margin:auto;
}