.modal{
    background:white;
    border-radius: 20px;
    height:fit-content;
    margin-top: 20px;
    height:fit-content;
    width:30%;
    margin:auto;
}
label{
    font-style: normal;
    font-family: sans-serif; 
}
.btn-default {
    background:#1bb3bb !important;
    color:white;
    border-radius: 15px;  
    font-style: normal;
    font-family: sans-serif;      
}
.btn-secondary {
    border-radius: 15px;  
    font-style: normal;
    font-family: sans-serif;      
}
