.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #eee;
  height: 100vh;
  font-style: normal;
  font-family: sans-serif; 
  background: white;
}
.btn{
  border-radius:15px;
}
.btn-default {
  background:#1bb3bb !important;
  color:white;
  border-radius: 15px;  
  font-style: normal;
  font-family: sans-serif;      
}
.btn-secondary {
  border-radius: 15px;  
  font-style: normal;
  font-family: sans-serif;      
}
h4{
  font-style: normal;
  font-family: sans-serif;  
}
label{
  font-style: normal;
  font-family: sans-serif; 
}
